.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(19, 19, 19, 0.705); /* Adjust opacity as needed */
    z-index: 1;
}

.hero {
    background-image: url("../images/hero.jpg");
}

[x-clock] { display: none !important;}
